<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/opportunities">Volunteer Opportunities</a>
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/about_us">About Us</a>
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/why_volunteer">Why Volunteer?</a>
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
        </header>
        <div id="mission-statement">
        	<h2>Mission Statement</h2>
        	<p>To create a link between user and organization, in order to find the nearest and most convenient environmental volunteer opportunity available for that individual</p>
        </div>
        <div id="our-founders">
            <h2 id="our-founders">Our Founders</h2>
            <h3>Isabela Martinez-Moure & Gia Douglass</h3>
            <img src="/images/IMG_2707.jpg">
            <br>
            <p>We started this website as a project during a summer coding camp. We wanted to use our new coding skills to create a bridge between</p>
            <p>volunteers in Miami and the local organizations that provide environmental volunteer opportunities. Through GetGreenMiami.org anyone</p>
            <p>can easily have access to volunteer opportunities in their communities, and effectively make Miami a greener place.</p> 
            <p>We believe that by linking users to events near them, they will be more willing to attend and better the ecosystem we live in.</p>

			<p>We promise to work on better-building this bridge everyday for a greener Miami and a brighter future,</p>

			<p>Isa x Gia.</p>
        </div>
<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>
