<head>
    <title> Average </title>
    
    <body> 
    <h1> You got an Average score.</h1>
    <h2> Looks like you landed on the right page!</h2>
    <h3> Make sure you get involved in your communit and try to be as green as you can! Keep working on it. </h3>
    <img src= "https://sidelinetheology.files.wordpress.com/2014/05/good-job-participating-meme.jpg?w=355&h=350&crop=1"
    </body>
</head>