<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="/opportunities">Volunteer Opportunities</a>
		    <a href="/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="/about_us">About Us</a>
		    <a href="/why_volunteer">Why Volunteer?</a>
		    <a href="/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
		<div id="FAQS">
			<h2><b>FAQ'S</b></h2>
		    <ol>
				<li>What should you bring?</li>
				<ul>
					<li>Closed toed shoes/sneakers (water shoes optional if doing a shore cleanup)</li>
					<li>Gloves</li>
					<li>Sunscreen</li>
					<li>Comfortable clothes you don't mind getting dirty</li>
					<li>Water (please bring a reusable one!)</li>
					<li>Food/snacks</li>
					<li>Contact the event coordinator to see if you should bring any materials 
					such as trash bags</li>
				</ul>
				<li>How can I make my own cleanup successful?</li>
				<ul>
					<li>Location: Pick a place that you know needs help being cleaned up/ needs help</li>
					<li>Make your events repeatable to build a reputation among volunteers</li>
					<li>Pick times of your voluteer days that will be convenient for volunteers</li>
					<li>Post your event on social media and let friends know about it</li>
					<li>Communicate with any volunteers that ask you for questions</li>
					<li>Bring materials to your event or let volunteers know that they need to bring their own materials</li>
					<li>Contact us so we can post your cleanup</li>
					<li>If it is a trash cleanup, contact your local PUblic Works Department to arrange for a pickup</li>
					<li>Invite the media (local newspaper, news, etc...) or take pictures to send to local media</li>
				</ul>
				<li>Safety</li>
					<ul><li>Volunteer sites are not responsible for any injuries that happen while volunteering. </li>
					<li>Be sure that you are feeling well on the day you volunteer and be careful while doing so</li></ul>
		    </ol>
		</div>
<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>
