<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="/opportunities">Volunteer Opportunities</a>
		    <a href="/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="/about_us">About Us</a>
		    <a href="/why_volunteer">Why Volunteer?</a>
		    <a href="/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
        <div id="mission-statement">
        	<h2>Mission Statement</h2>
        	<p>To create a link between user and organization, in order to find the nearest and most convenient environmental volunteer opportunity available for that individual</p>
        </div>
        <div id="form">
        <h2> GET STARTED: Choose a location</h2>
        <br><br>
  <form action="/opportunities" method= "post">
  <select name="location">
    <a href="/opportunities#miami_beach"><option value="Miami Beach">Miami Beach, Fl</option></a>
    <a href="/opportunities#key_biscayne"><option value="Key Biscayne/Virginia Key">Key Biscayne/Virginia Key, Fl</option></a>
    <a href="/opportunities#miami_shores"><option value="Miami Shores">Miami Shores, Fl</option></a>
    
  </select>
  <br><br><br>
  <input type="submit" value= "GET GREEN!">
</form>
</div>
</div>

<div id="quiz">
	<h2> Want to know how <b id="green">"Green"</b> you really are? Check out our GetGreen Quiz below!</h2>
	<div class="quiz"><p><a href="/quiz" method="post">Quiz</a></p></div>
</div>

<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>

