<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="/opportunities">Volunteer Opportunities</a>
		    <a href="/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="/about_us">About Us</a>
		    <a href="/why_volunteer">Why Volunteer?</a>
		    <a href="/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
<div id="opportunities">
<a name="miami_shores" id="miami_shores"><h2> MIAMI SHORES, FL:</h2></a> <br>

<ul>
  <li><h3> Legion Park Cleanup</h3></li> <br>
     
        <img src= "https://s3-media2.fl.yelpcdn.com/bphoto/HKziR2B42A3ypn9iUr3AKQ/ls.jpg"> <br>
        
      <ul>
          <li>When: Saturday, July 21, 2018</li>
          
          <li>Time: 08:00 AM</li>
          
          <li>  Location:
          6447 NE 7th Ave Miami FL 33138
              Miami, FL 33138 United States</li>
              
          <li>About the event: Volunteers will meet at park at 8:00 AM. Wearing sneakers is recommended. 
              The cleanup is scheduled to last approximately an hour. 
              A free yoga will be provided from 10-11 AM at the park. </li>
  
          <li>Parking: Available</li>
          
          <li> For more information contact:</li>
            <li> Email:  <a href="sarah@sereiafilms.org">Sarah Curry</a> <br> </li>
          
          
    </ul>
</ul> <br>



<ul>
  <li> <h3>Trashy Tuesday at Pelican Harbor Marina </h3></li> <br>
        
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJTroA0ZMiGsv4D6KzwnBVTgQjyw_g-s3XVYQmFUjZwsMxXgJ1ZQ"> <br>
      
      <ul>
          <li>Description: Community clean up to of marine debris to prevent litter from ending up in waterways. </li>
          <li>When:Tuesday, July 24, 2018 </li>
          
          <li>Time: 8:30AM </li>
          
          <li>Location: Pelican Harbor Marina 1275 NE 79th St Miami, FL 33138-4206 United States</li>
              
          <li>What to bring: Sturdy shoes, hat, resusable water bottle, and gloves if possible.
              Water, sunscreen, and bug spray will be provided.</li>
          
          <li> For more information contact: </li>
          <li>Email: <a href="sarah@sereiafilms.org">Sarah Curry</a></li> <br>
          
    </ul>
</ul> </br>


<a name="key_biscayne" id="key_biscayne"><h2> KEY BISCAYNE/VIRGINIA KEY, FL:</h2></a> <br>

<ul>
  <li> <h3>University Of Miami Shark Tagging Trip</h3></li> <br>
  
      <img src= "https://sharkresearch.rsmas.miami.edu/wp-content/uploads/2017/01/170120_154506_163_AUCEC_print-e1486136194140.png"> <br>
    
    <ul>
        <li>Description: 
            Volunteer citizens will accompany University of Miami specialists on a shark-tagging trip and help assist in the collection of samples, 
            including: taking a fin clip, tagging the shark, taking shark length measurements, and performing reflex tests.</li>
      
        <li>When: To be announced by UM Shark Research</li>
          
        <li>Time: 8:30AM-4:30PM</li>
          
        <li>  Location:
          Boat will depart from Key Biscayne, Fl. Location will be provided after confirmation of trip by UM Shark Research. </li>
              
        <li>About the event: Spots are limited. There are no set dates. Volunteers must fill out request form and wait for trip confirmation from University of Miami. </li>
  
          
        <li> For sign-up information and contact, visit:</li>
        <p> <a href= "http://sharkresearch.rsmas.miami.edu/participate/citizen-science-public-expeditions"> UM Shark Tagging Trip</a> </p>
          
    </ul>
</ul> <br>


<ul>
   <li><h3>Bill Baggs State Park Monthly Beach Cleanup</h3></li> <br>
      
      <img src= "https://www.keyscience.org/wp-content/uploads/2017/08/Bill-Baggs-Cape-Florida-State-Park-52071-thegem-blog-timeline-large.jpg"> <br>
        
      <ul>
          <li>When: Saturday, August 11, 2018 </li>
          
          <li>Time: 9:00 AM</li>
          
          <li>  Location:Bill Baggs Cape Florida State Park 1200 Crandon Bld
                Key Biscayne, FL 33149 United States.111
          </li>
              
          <li>About the event: The cleanup will be from 9 am - 11 am.  Please wear closed toe shoes and a hat and bring along sunscreen, insect repellant,  and a water bottle.
        We will provide trash bags, plastic gloves and trash grabbers and iced tap water to refill your water bottles. </li>
  
          <li> For more information contact: 305-361 8779</li>
          <li> Email: <a href="mailto:Jorge.Brito@dep.state.fl.us">Jorge Brito</a> </li><br>
          
      </ul>
</ul> <br>


<ul>
  <li><h3> MUVE Volunteer Workday</h3></li> <br>
      
        <img src= "http://cdn.worldredeye.com/wp-content/uploads/2018/01/23/0-dsc_7568-1.jpg"> <br>
        
        <ul>
          <li>When: August 18, 2018</li>
          
          <li>Time:9:00AM-11:00AM </li>
          
          <li>  Location: Virginia Key North Point Arthur Lamb Jr Rd Miami, FL 33149</li>
          
              
        <li>About the event: Citizen scientists will remove invasive plants, plant sea oats and other coastal species. Marine debris will be cleaned up and biodiversity will be monitored. </li>
  
          <li>Parking: Available, must pay for parking.</li>
          
          <li> For registration and more information visit: </li>
          <p> <a href= "https://www.frostscience.org/event/muve-volunteer-workday-2/#parking"> Frost Science Volunteer Registration </a></p>
          
        </ul>
</ul> <br>
 
 


<h2> <a name="miami_beach" id="miami_beach">MIAMI BEACH, FL:</a></h2> <br>

<ul>
  <li> <h3>Ocean Conservancy x Discovery Channel Shark Week Cleanup </h3></li> <br>
  
      <img src= "https://d24v5oonnj2ncn.cloudfront.net/wp-content/uploads/2015/06/11094434/Shark-Week.jpg"> <br>
    
       <ul>
          <li>Description: 
        On Saturday, July 21, Discovery Channel is partnering with Ocean Conservancy to clean up beaches across the United States.</li>
      
          <li>When: Saturday, July 21, 2018</li>
          
          <li>Time: 9:45 AM</li>
          
          <li>  Location:
          South Pointe Pier and Beach 1 Washington Ave Miami Beach, FL 33139 United States </li>
              
          <li>About the event: Volunteers will set up on the sand/beach by South Pointe Pier. </li>
        
          <li> What to bring: Hat for shade, closed-toe shoes/sneakers and sunscreen. Water, gloves, and trash bags will be provided. </li>
  
          <li> For sign-up information and contact: </li>
          <li> Email: <a href="mailto:skollar@oceanconservancy.org">Sarah Kollar</a></li><br>
          
          
    </ul>
 </ul> <br>
 
 
 <ul>
    <li> <h3>8th Annual Southeast Florida Reef Cleanup</h3></li> <br>
    
        <img src= "http://miami.carpediem.cd/data/afisha/bp/1c/8c/1c8cad306b.jpg"> <br>
        <p> Price: $40.00</p>
        
      <ul>
          <li> Description: A dive cleanup of reefs in Miami Beach. </li>
          
          <li>When: Sunday, July 29, 2018 </li>
          
          <li>Time: 4:30 PM</li>
          
          <li>  Location: South Beach Divers 850 Washington Ave Miami, FL 33139 United States
          </li>
              
          <li>About the event: An open-water diver certification is required to participate. 
          All cleanup supplies will be provided by SEAFAN and Debris Free Oceans, and all SCUBA gear is available for rent at the dive shop.</li>
  
          <li> For more information contact: 443-690-8900</li>
          <li>Email: <a href="mailto:maddie@southbeachdivers.com">Madeline Kaufman</a> </li> <br>
          
    </ul>
 </ul> <br>
</div>
<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>