<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="/opportunities">Volunteer Opportunities</a>
		    <a href="/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="/about_us">About Us</a>
		    <a href="/why_volunteer">Why Volunteer?</a>
		    <a href="/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
</html>
<div id="organize">
<h2><b>Organize An Event</b></h2>
<p>As an organizer of a volunteer activity, you will be facilitating all activiites that happen 
on your cleanup day. You are responsible for organizing the event, Get Green only serves as a bridge 
between the host and bringing awareness to volunteers.</p>
<ol>
<li>Planning Your Event</li>
<ul>
    <li>Choose a location. Contact us or local communities on information on the places that need help being restored</li>
    <li>Some locations require a permit, so make sure to contact the local authorities</li>
    <li>When doing a cleanup near the water, look at the tide-charts and weather to decide the time</li>
    <li>Visit your site beforehand to assess the area</li>
    <li>Contact us to post your event and provide the url to friends and family</li>
    <li>Keep track of how many people are attending so you know how much supplies you need</li>
    <li>Make sure that you limit the amount of volunteers according to how many you can accomodate</li>
</ul>
<li>What to Provide</li>
<ul>
    <li>Reusable gloves (dishwashing/gardening)</li>
    <li>Garbage bags/buckets</li>
    <li>Water/water cooler</li>
    <li>Hand Sanitizer</li>
    <li>First Aid Kit</li>
    <li>Pen and paper to sign community service forms</li>
</ul>
<li>Day of the Cleanup</li>
<ul>
    <li>Bring your materials to the cleanup site</li>
    <li>Divide people into groups/taks</li>
    <li>Arrive at the site early to set up</li>
    <li>Welcome and thank all of your volunteers</li>
    <li>Give a safety briefing</li>
    <li>Set a time to report back</li>
    <li>Don't forget to take photos!</li>
</ul>
</ol>
</div>
<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>