
<head>
    <title> Perfect </title>
    
    <body> 
    <h1> You got a perfect score!</h1>
    <h2> Looks like you are a "green" citizen after all!</h2>
    <img src= "https://i.pinimg.com/474x/b3/fb/91/b3fb9105b2867c500fcd07c2a4090fcd--green-face-paint-princess-fiona.jpg"
    </body>
</head>