<!DOCTYPE HTML>
<html>
    <head>
        <title> How Green Are You?</title>
    </head>
    
    <body>
        <h1> How Green Are You?</h1>
        <h2> Take the Quiz and find out!</h2>
    </body>
    
     <form action="/results" method="post">
        
      <h2>Do you recycle?</h2>
        <input type="radio" name="recycle" value="0">Never<br>
        <input type="radio" name="recycle" value="20">Always<br>
        <input type="radio" name="recycle" value="10">Sometimes<br>
        
        <h2>Do you use a reusable water bottle?</h2>
        <input type="radio" name="bottle" value="10">Yes<br>
        <input type="radio" name="bottle" value="0"> No<br>

        
        <h2> Do you use a form of shared transportation/electric car? </h2>
        <input type="radio" name="car" value="0" >Never<br>
        <input type="radio" name="car" value="20">Sometimes <br>
        <input type="radio" name="car" value="40" >Always<br>
        
        <h2> How often do you attend community clean ups?</h2>
        <input type="radio" name="cleanup" value="0">Never<br>
        <input type="radio" name="cleanup" value="15"> Sometimes<br>
        <input type="radio" name="cleanup" value="30"> Always<br>

          <button type = "submit" class="new"> See if you're cool here! </button>
      </form>

</html>