<!DOCTYPE>
<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Get Green Miami</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css"></head>
    	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    	<body>
        <header class="header-bg">
            <div id="hdr" class="navigation hero_active" data-scroll-header="">
		    <div class="container row middle-xs">
		    <a href="https://75454c8282e648c4bb5dcc6bb0dbf99a.vfs.cloud9.us-east-2.amazonaws.com/">Home</a>
		    <div class="dropdown">
		  <button class="dropbtn">Get Involved</button>
		  <div class="dropdown-content">
		    <a href="/opportunities">Volunteer Opportunities</a>
		    <a href="/organize">Organize an Event</a>
		  </div>
		  </div>
				<div class="dropdown">
		  <button class="dropbtn">About</button>
		  <div class="dropdown-content">
		    <a href="/about_us">About Us</a>
		    <a href="/why_volunteer">Why Volunteer?</a>
		    <a href="/FAQS">FAQ's</a>
		  </div>
		</div>
		<container id="social">
		|
		<i class="fab fa-instagram"></i>
		<i class="far fa-envelope"></i>
		  </div>
		</div>
		</container>
		<div id="hero">
		</div>
		</div>
        </header>
      <div id="why-volunteer">
          <h2>Why Should You <b>Volunteer</b>?</h2>
          <ol>
              <li>It helps your community stay clean/safe</li>
              <li>It helps protect the natural habitat of your community and keep the earth clean</li>
              <li>You can earn service hours for school or other organizations</li>
              <li>You get to experience making a change first hand in your community</li>
              <li>Some cleanups offer rewards for volunteering</li>
              <li>Be an active leader</li>
          </ol>
      </div>
<div>
    <div class="carousel">
        <h2>Images of Community Cleanups in Miami<br> <b>Join</b> the Community!</h2>
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://i.pinimg.com/originals/d6/02/ff/d602ffbf10f84e159b162056a7143dbd.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://johnwbailly.files.wordpress.com/2017/11/img_87931.jpg?w=1200">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="http://www.skeletonsea.com/wp-content/gallery/miami-beach-cleaning/k1d9010.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
        <br>
    </div>
</div>
        
        
        
<div id="footer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/170px-Copyright.svg.png"> 2018</div>
    </body>
</html>